In [20]:
import psycopg2

In [22]:
conn = psycopg2.connect(
    database="kalbe",
    host="localhost",
    port=5432,
    user="postgres",
    password=1234
)
curr = conn.cursor()

In [24]:
sql_1 = """CREATE TABLE karyawan (
first_name VARCHAR(50) NOT NULL,
last_name VARCHAR(50) NULL,
age SMALLINT NOT NULL,
sex VARCHAR(10) NOT NULL,
income INT NOT NULL
)"""
sql_2 = """INSERT INTO karyawan VALUES ('Daisy', 'Lee', 23, 'Female', 5000000)"""
sql_3 = """INSERT INTO karyawan (first_name, age, sex, income) VALUES ('Andra', 26, 'Male', 8000000)"""

In [25]:
try:
    curr.execute(sql_1)
    curr.execute(sql_2)
    curr.execute(sql_3)
    conn.commit()
except:
    curr.execute("ROLLBACK")

In [26]:
conn.close()